/* Fonts */
footer, .nav-link, .navbar-brand {
    font-family: 'Alice', serif;
}
h1, h2, h3 {
    font-family: Vidaloka;
}
article > h2 {
    color: #212529;
}

a, a:visited, a:active {
    color: #212529;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

a > article > h2:hover, a:focus {
    color: #444;
    transition: all .4s ease-in-out;
    text-decoration: none;
}

a.post:hover {
    text-decoration: none;
}
/* End Fonts */


/* Images */
.img-thumbnail {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0;
}

.img-thumbnail:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* End Images */